{% extends "base.html" %}
{% load static %}
{% load basketupdatetool %}



 {% block page_header %}
 
  
  {% endblock %}

{% block content %}
 




<div class="container-fluid no-padding"> 
   <div class="row"> 
   <div class="col-sm-5">

<form action="{% url 'checkout' %}" method="POST" id="stripepayment">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.firstname | as_crispy_field }}
                        {{ order_form.lastname | as_crispy_field }}
                        {{ order_form.emailaddress | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form.phone | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postalcode | as_crispy_field }}
                        {{ order_form.town | as_crispy_field }}
                        {{ order_form.address1 | as_crispy_field }}
                        {{ order_form.address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                       
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'basketview' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ finaltotal|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>






   
   </div>
      <div class="col-sm-6">
      <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                
{% if itemsinbasket %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in itemsinbasket %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.amount }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price  | productsubtotal:item.amount }}</p>
                                    </td>

    	                           


                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ totalamount|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ finaldelivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ finaltotal|floatformat:2 }}</strong></h4>
                                    {% if freedeliveryupdate > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ freedeliveryupdate }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}




            </div>
        </div>
    </div>
         </div>
      <div class="col-sm-1">Column 333</div> 
   </div> 
</div>
   



{% endblock %}


{% block postloadjs %}
{{ block.super }}

{{ stripepublickey|json_script:"id_stripepublickey" }}
{{ client_secret|json_script:"id_client_secret" }}



<script type="text/javascript">
   /*
    Core logic/payment flow for this comes from here:
    https://stripe.com/docs/payments/accept-a-payment
    CSS from here: 
    https://stripe.com/docs/stripe-js
*/

var stripepublickey = $('#id_stripepublickey').text().slice(1, -1);
var clientSecret = $('#id_client_secret').text().slice(1, -1);
var stripe = Stripe(stripepublickey);
var elements = stripe.elements();
var style = {
    base: {
        color: '#000',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
            color: '#aab7c4'
        }
    },
    invalid: {
        color: '#dc3545',
        iconColor: '#dc3545'
    }
};
var card = elements.create('card', {style: style});
card.mount('#card-element');

// Handle realtime validation errors on the card element
card.addEventListener('change', function (event) {
    var errorDiv = document.getElementById('card-errors');
    if (event.error) {
        var html = `
            <span class="icon" role="alert">
                <i class="fas fa-times"></i>
            </span>
            <span>${event.error.message}</span>
        `;
        $(errorDiv).html(html);
    } else {
        errorDiv.textContent = '';
    }
});

// Handle form submit
var form = document.getElementById('stripepayment');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    card.update({ 'disabled': true});
    $('#submit-button').attr('disabled', true);

    var saveInfo = Boolean($('#id-save-info').attr('checked'));
    // From using {% csrf_token %} in the form
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    var postData = {
        'csrfmiddlewaretoken': csrfToken,
        'client_secret': clientSecret,
        'save_info': saveInfo,
    };
    var url = '/checkout/cache_checkout_data/';

    $.post(url, postData).done(function () {
  
        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: $.trim(form.firstname.value),
                    phone: $.trim(form.phone.value),
                    email: $.trim(form.emailaddress.value),
                    address:{
                            line1: $.trim(form.address1.value),
                            line2: $.trim(form.address2.value),
                            city: $.trim(form.town.value),
                            country: $.trim(form.country.value),
                            state: $.trim(form.county.value),
                    }
                }
            },
            shipping: {
                name: $.trim(form.firstname.value),
                phone: $.trim(form.phone.value),
                address: {
                        line1: $.trim(form.address1.value),
                        line2: $.trim(form.address2.value),
                        city: $.trim(form.town.value),
                        country: $.trim(form.country.value),
                        postal_code: $.trim(form.postalcode.value),
                        state: $.trim(form.county.value),
                }
            },

        
    }).then(function(result) {
        if (result.error) {
            var errorDiv = document.getElementById('card-errors');
            var html = `
                <span class="icon" role="alert">
                <i class="fas fa-times"></i>
                </span>
                <span>${result.error.message}</span>`;
            $(errorDiv).html(html);
           
            card.update({ 'disabled': false});
            $('#submit-button').attr('disabled', false);
        } else {
            if (result.paymentIntent.status === 'succeeded') {
                form.submit();
            }
        }
    });
}).fail(function() {
    location.reload();
    })
});
</script>

{% include 'products/includes/itemamountscript.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/basket/deletebasket/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>


{% endblock %}