{% extends "base.html" %} 
{% load static %} 
{% block page_header %} 
{% endblock %} 
{% block index %}
<!-- Delete Blog Post -->
<main>
  <div class="container justify-content-center">
    <section id="cover">
      <div id="cover-caption">
        <div class="container">
          <div class="row">
            <div
              class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form"
            >
              <h1 class="display-4 py-2 text-truncate">
                Delete {{post.title}}
              </h1>
              <div class="px-2">
                <form method="POST">
                  <div class="form-group">
                    {% csrf_token %}
                    <input
                      type="submit"
                      class="btn btn-block send-button tx-tfm"
                    />
                  </div>
                </form>
                <a
                  href="{% url 'bikeblog' %}"
                  class="btn btn-block send-button tx-tfm"
                >
                  &laquo; Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Continue Shopping -->

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img
            class="rounded-circle"
            src="{% static 'media/bikeimages/frontbike.jpg' %}"
            alt="Motorcyle Accessories"
            width="140"
            height="140"
          />
          <h2>Motorcyle Accessories</h2>
          <p>Check Out Our Extensive Range of Motorcycle Accessories</p>
          <p>
            <a
              class="btn btn-primary"
              href="/products/?category=accessories"
              role="button"
              >View details &raquo;</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img
            class="rounded-circle"
            src="{% static 'media/bikeimages/helmet.jpg' %}"
            alt="Motorcyle Gear"
            width="140"
            height="140"
          />
          <h2>Motorcycle Gear</h2>
          <p>Check Out Our Extensive Range of Motorcycle Gear</p>
          <p>
            <a
              class="btn btn-primary"
              href="/products/?category=gear"
              role="button"
              >View details &raquo;</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img
            class="rounded-circle"
            src="{% static 'media/bikeimages/lakebike.jpg' %}"
            alt="Motorcyle Parts"
            width="140"
            height="140"
          />
          <h2>Motorycycle Parts</h2>
          <p>Check Out Our Extensive Range of Motorcycle Parts</p>
          <p>
            <a
              class="btn btn-primary"
              href="/products/?category=parts"
              role="button"
              >View details &raquo;</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      {% block subscribe %} 
      {% endblock %}
    </div>
    <!-- /.container -->
  </div>
</main>
{% endblock %} 
{% block content %} 
{% endblock %}
