{% extends "base.html" %}
{% load static %}



 {% block page_header %}
 
  
  {% endblock %}

{% block index %}


<main role="main">



<div class="container justify-content-center navbarbackground">
<section class="mb-4 ">
      
      <div class="row">
        <div class="col-md-9 mb-md-0 mb-5 p-5">
        
         <div class="container marketing">
        <p class="text-center w-responsive mx-auto mb-5"></p>
      
      <h2>Do you have any questions?</h2>
      
        </div>
<div id="formkeep-embed" data-formkeep-url="https://formkeep.com/p/8b70922c6087a54b3ba8311c02ae840e?embedded=1"></div>
<!-- Email Contact Form Scripts -->

<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
<script type="text/javascript" src="https://formkeep-production-herokuapp-com.global.ssl.fastly.net/formkeep-embed.js"></script>

<!-- Get notified when the form is submitted, add your own code below: -->
<script>
const formkeepEmbed = document.querySelector('#formkeep-embed')

formkeepEmbed.addEventListener('formkeep-embed:submitting', _event => {
  console.log('Submitting form...')
})

formkeepEmbed.addEventListener('formkeep-embed:submitted', _event => {
  console.log('Submitted form...')
})
</script>



<!-- Contact Form Section -->

 
          
          
        </div>
       
        
      </div>
    </section>
</div>







 


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/frontbike.jpg'}}" alt="Motorcyle Accessories" width="140" height="140">
            <h2>Motorcyle Accessories</h2>
            <p>Check Out Our Extensive Range of Motorcycle Accessories</p>
            <p><a class="btn btn-primary" href="/products/?category=accessories" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/helmet.jpg'}}" alt="Motorcyle Gear" width="140" height="140">
            <h2>Motorcycle Gear</h2>
            <p>Check Out Our Extensive Range of Motorcycle Gear</p>
            <p><a class="btn btn-primary" href="/products/?category=gear" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/lakebike.jpg'}}" alt="Motorcyle Parts" width="140" height="140">
            <h2>Motorycycle Parts</h2>
            <p>Check Out Our Extensive Range of Motorcycle Parts</p>
            <p><a class="btn btn-primary" href="/products/?category=parts" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

{% block subscribe %}
    
    

{% endblock %}

      </div><!-- /.container -->


    
    </main>

   

{% endblock %}

{% block content %}
{% endblock %}


