{% extends "base.html" %}
{% load static %}



 {% block page_header %}
 
  
  {% endblock %}

{% block index %}
<main role="main">

<section>

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="/products/?category=parts"> 
      <img class="d-block w-100" src="../media/bikeimages/ridingbike1.jpg"
        alt="Motorcycle Parts" ></a>
        <div class="carousel-caption d-none d-md-block">
    <h2>Motorcycle Parts</h2>
    <p><a href="/products/?category=parts">Click Here To View All Of Our Motorcycle Parts</a></p>
  </div>
    </div>
    <div class="carousel-item">
    <a href="/products/?category=accessories"> 
      <img class="d-block w-100" src="../media/bikeimages/lakebike1.jpg"
        alt="Motorcycle Accessories" ></a>
         <div class="carousel-caption d-none d-md-block">
   <h2>Motorcycle Accessories</h2>
    <p><a href="/products/?category=accessories">Click Here To View All Of Our Motorcycle Accessories</a></p>
  </div>
    </div>
    <div class="carousel-item">
    <a href="/products/?category=gear"> 
      <img class="d-block w-100" src="../media/bikeimages/sunsetbike1.jpg"
        alt="Motorcycle Gear"></a>
         <div class="carousel-caption d-none d-md-block">
         
    <h2>Motorcycle Gear</h2>
    <p><a href="/products/?category=gear"> Click Here To View All Of Our Motorcycle Gear</a></p>
         
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>
</section>

 <section class="subscription bg-white pr-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscription-wrapper">
                               <div id="delivery-banner" class="row text-center">
            <div class="col bg-black">
                <h4 class=" my-1">Free delivery on orders over ${{ freedelivery }}!</h4>                
            </div>            
        </div>
                    
             
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Special Offers </h3>
        </div>
       
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" width="250" height="250" src="../media/engineoil.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Motor Oil</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid</p>
<a href="/products/8" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" width="250" height="250" src="../media/clutchoil.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Clutch Oil</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/9" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motul Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators requiring non-silicone synthetic fluid. </p>
<a href="/products/7" class="btn btn-primary stretched-link">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-6 text-right">
            <a class="btn-sm  mb-3 mr-1 " href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn-sm  mb-3 mr-1 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        
    </div>
</div>
</section>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/frontbike.jpg'}}" alt="Motorcyle Accessories" width="140" height="140">
            <h2>Motorcyle Accessories</h2>
            <p>Check Out Our Extensive Range of Motorcycle Accessories</p>
            <p><a class="btn btn-primary" href="/products/?category=accessories" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/helmet.jpg'}}" alt="Motorcyle Gear" width="140" height="140">
            <h2>Motorcycle Gear</h2>
            <p>Check Out Our Extensive Range of Motorcycle Gear</p>
            <p><a class="btn btn-primary" href="/products/?category=gear" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/lakebike.jpg'}}" alt="Motorcyle Parts" width="140" height="140">
            <h2>Motorycycle Parts</h2>
            <p>Check Out Our Extensive Range of Motorcycle Parts</p>
            <p><a class="btn btn-primary" href="/products/?category=parts" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

{% block subscribe %}
    
    

{% endblock %}

      </div><!-- /.container -->


    
    </main>

   

{% endblock %}

{% block content %}
{% endblock %}


