{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block index %}
<!--MODAL POPUP-->

<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog modal-lg">
         <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">Welcome to Eezi Motorcycles
              <strong></strong>
            </p>
            <button type="button" class="close" 
            data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          <!--Body-->

          <!--Footer-->
          <div class="modal-footer flex-center">
          <div class="modal-footer flex-center text-center">
                  <img class="img-fluid" alt="Eezi Motorcycles" width="150" height="150" src="../media/bmwf650.jpg">
              </div>
                <div class="modal-footer d-flex justify-content-center text-center">
                <h2>
                  Free Shipping When You Spend $50
                </h2>
              </div>
            <a href="/products/" class="btn btn-block send-button tx-tfm">Start Shopping</a>
            <a href="" class="btn btn-block send-button tx-tfm" data-dismiss="modal">No, thanks</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

<main>
<!-- Beginning of Carousel-->
<section>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="/products/?category=parts"> 
      <img class="d-block w-100" src="../media/bikeimages/ridingbike1.jpg"
        alt="Motorcycle Parts" ></a>
        <div class="carousel-caption d-none d-md-block">
    <h2>Motorcycle Parts</h2>
    <p><a href="/products/?category=parts">Click Here To View All Of Our Motorcycle Parts</a></p>
  </div>
    </div>
    <div class="carousel-item">
    <a href="/products/?category=accessories"> 
      <img class="d-block w-100" src="../media/bikeimages/lakebike1.jpg"
        alt="Motorcycle Accessories" ></a>
         <div class="carousel-caption d-none d-md-block">
   <h2>Motorcycle Accessories</h2>
    <p><a href="/products/?category=accessories">Click Here To View All Of Our Motorcycle Accessories</a></p>
  </div>
    </div>
    <div class="carousel-item">
    <a href="/products/?category=gear"> 
      <img class="d-block w-100" src="../media/bikeimages/sunsetbike1.jpg"
        alt="Motorcycle Gear"></a>
         <div class="carousel-caption d-none d-md-block">
         
    <h2>Motorcycle Gear</h2>
    <p><a href="/products/?category=gear"> Click Here To View All Of Our Motorcycle Gear</a></p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>
</section>
<!-- Free Delivery Banner-->
 <section class="subscription bg-white pr-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscription-wrapper">
                               <div id="delivery-banner" class="row text-center">
            <div class="col bg-black">
                <h4 class=" my-1">Free delivery on orders over ${{ freedelivery }}!</h4>                
            </div>            
        </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- Special Offers Section-->
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Special Offers </h3>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="Motor Oil" width="250" height="250" src="/media/engineoil.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Motor Oil</h4>
                                        <p class="card-text">Suitable for most types of bikes. Special offer now on.</p>
<a href="/products/8" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" width="250" height="250" src="../media/clutchoil.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Clutch Oil</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators. </p>
<a href="/products/9" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Brake Fluid</h4>
                                        <p class="card-text">Suitable for all types of hydraulic brake and clutch actuators. </p>
<a href="/products/7" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                             <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/knfilter.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Oil Filter</h4>
                                        <p class="card-text">CN oil filters contain a modern synthetic filter. Click for more. </p>
<a href="/products/11" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/visor.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Helmet Visor</h4>
                                        <p class="card-text">Suitable for use with your AGV Longway helmet.</p>
<a href="/products/47" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/midnightglove.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Bullitt Gloves</h4>
                                        <p class="card-text">Bullitt gloves that help you stay in style even when it's cold. </p>
<a href="/products/49" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/brakefluid.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Grey Jacket</h4>
                                        <p class="card-text">The jacket is equipped with wind and water resistant membranes. </p>
<a href="/products/48" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                   <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/ipone.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Ipone Fluid</h4>
                                        <p class="card-text">Recommended for hydraulic systems or ABS brake systems.</p>
<a href="/products/21" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"  width="250" height="250" src="../media/karoo.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Metzeler Karoo</h4>
                                        <p class="card-text">Metzeler Karoo 3 is a real adventure tyre for bike lovers.</p>
<a href="/products/13" class="btn btn-block send-button tx-tfm">Find Out More</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-6 text-right">
            <a class="btn-sm  mb-3 mr-1 " href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn-sm  mb-3 mr-1 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
</section>

      <!-- Marketing Section -->

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/frontbike.jpg'}}" alt="Motorcyle Accessories" width="140" height="140">
            <h2>Motorcyle Accessories</h2>
            <p>Check Out Our Extensive Range of Motorcycle Accessories</p>
            <p><a class="btn btn-block send-button tx-tfm" href="/products/?category=accessories" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/helmet.jpg'}}" alt="Motorcyle Gear" width="140" height="140">
            <h2>Motorcycle Gear</h2>
            <p>Check Out Our Extensive Range of Motorcycle Gear</p>
            <p><a class="btn btn-block send-button tx-tfm" href="/products/?category=gear" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{{'media/bikeimages/lakebike.jpg'}}" alt="Motorcyle Parts" width="140" height="140">
            <h2>Motorycycle Parts</h2>
            <p>Check Out Our Extensive Range of Motorcycle Parts</p>
            <p><a class="btn btn-block send-button tx-tfm" href="/products/?category=parts" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

{% block subscribe %}
{% endblock %}
      </div><!-- /.container -->
    </main>
{% endblock %}
{% block content %}
{% endblock %}
