{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
     Product Management
      </h1>
      <h2 class="wv-heading--subtitle">
        <p>
        Edit A Product
        </p>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="myform form">
        
<form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-primary" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-primary" type="submit">Edit Product</button>
                    </div>
                </form>

      </div>
    </div>
  </div>
</div>






{% endblock %}