<!-- Flexbox container for aligning the toasts -->
<div
  aria-live="polite"
  aria-atomic="true"
  class="d-flex justify-content-center align-items-center"
  style="min-height: 200px;"
>
  <!-- Then put toasts within -->
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-autohide="false"
  >
    <div class="toast-header">
      <strong class="mr-auto text-primary"
        ><i class="far fa-thumbs-up"></i
      ></strong>
      <strong class="mr-auto text-primary">Success</strong>

      <small class="text-muted">Just Now</small>
      <button
        type="button"
        class="ml-2 mb-1 close"
        data-dismiss="toast"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      
      <div class="modal-content">
          <!--Header-->
        

          <!--Body-->
          <div class="modal-body">

            <div class="row">
              <div class="col-3">
                <p></p>
                <p class="text-center">
                  <i class="fas fa-gift fa-4x"></i>
                </p>
              </div>

              
                <div class="modal-footer flex-center text-center">
         
<h2>
                  {{ message }}
                </h2>
              </div>
            </div>
          </div>
    </div>

   

   

    {% if finaltotal and not on_profile_page %}
    <div class="toast-body">
      Items In Your Bag: {{ productamount }}
    </div>
    <div class="">
      {% for item in itemsinbasket %}
      <div class="row">
        <div class="col-3 my-1">
          {% if item.product.image %}
          <img class="w-100" src="{{ item.product.image.url }}" />
          {% else %}
          <img class="w-100" src="{{ MEDIA_URL }}noimage.png" />
          {% endif %}
        </div>
        <div class="col-9">
          <p class="my-0"><strong>{{ item.product.name }}</strong></p>
          <p class="my-0 small text-muted">Qty: {{ item.amount }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <strong
          ><p class="mt-3 mb-1 text-black">
            Total{% if freedeliveryupdate > 0 %} (Exc. delivery)
        {% endif %}:
            <span class="float-right">${{ totalamount|floatformat:2 }}</span>
          </p></strong
        >
        {% if freedeliveryupdate > 0 %}
        <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
          Spend <strong>${{ freedeliveryupdate }}</strong> more to get free next
          day delivery!
        </p>
        
        {% endif %}
        <a
          href="{% url 'basketview' %}"
          class="btn btn-block send-button tx-tfm"
        >
          <span class="text-uppercase">Go To Secure Checkout</span>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
